@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --ps-primary: #3498db;
  --ps-secondary: #e0e0e0;
}
body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  padding: 0;
}
#projects {
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2px;
  min-height: 100vh;
  width: 100%;
}
.project {
  position: relative;
  cursor: pointer;
}
.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project > .project-details {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9803ff;
  color: #fafafa;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in;
  opacity: 0;
}
.project-details h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.project-details button {
  background-color: #44038c;
  font-size: 1em;
  font-family: inherit;
  padding: 1em 1.5em;
  color: #fafafa;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
}
.project-details button:focus {
  outline: none;
}
.project:hover > .project-details {
  opacity: 1;
}
.projectTitle {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  color: #fafafa;
  font-weight: bold;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 0;
}
@media (max-width: 960px) {
  #projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  #projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  #projects {
    grid-template-columns: 1fr;
  }
}
