* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #686ef0;
}
.empty {
  width: 150px;
  height: 150px;
  margin: 10px;
  border: 2px solid;
  background-color: #fff;
}

.fill {
  width: 145px;
  height: 145px;
  background-image: url('https://source.unsplash.com/random/150x150');
  cursor: pointer;
}

.hold {
  border: 5px solid #ccc;
}

.hover {
  background-color: #333;
  border: dashed #fff;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
