@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: Poppins, sans-serif;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #7bdaf3;
  padding-top: 3rem;
}

button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}
button:focus {
  outline: none;
}
.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #9ec862;
}
.note {
  width: 400px;
  height: 400px;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.tools {
  display: flex;
  justify-content: flex-end;
  background-color: seagreen;
}

.tools i {
  font-size: 1rem;
}
.main * {
  word-break: break-all;
  padding: 0 1rem;
}
textarea {
  height: calc(100% - 30px);
  width: 100%;
  overflow: auto;
  padding: 1rem;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  resize: none;
}
textarea:focus {
  outline: none;
}
.hidden {
  display: none;
}
